.arriere_plan_message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
}

.message_container {
    position: fixed;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    width: 70%;
    height: 70%;
    z-index: 99;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    margin: auto;

    /* Responsive adjustments */
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
}

.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: tomato;
    border-radius: 5px;
    padding: 5px;
}

.colonne_conversations, .colonne_details, .colonne_infos {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border-right: 1px solid #eee; /* Séparateur visuel subtil */
}

.colonne_details {
    width: 50%;
    overflow-x: hidden;
}

.colonne_infos {
    min-width: 250px;
    border-right: none;
}

.conversation {
    border: 1px solid black;
    cursor: pointer;
}

.message {
    display: flex;
    margin: 5px 0;
}

.admin {
    justify-content: flex-end;
    background-color: #d1e7dd;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    float: right;
    margin-left: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.destinataire {
    justify-content: flex-start;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    float: left;
    margin-right: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.message_input {
    width: 80%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .message_container {
        width: 90%;
        height: 80%;
    }

    .colonne_details, .colonne_infos {
        width: 100%;
        border-right: none;
    }

    .colonne_conversations, .colonne_details, .colonne_infos {
        padding: 5px;
    }

    .admin, .destinataire {
        max-width: 80%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .message_input {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .message_container {
        width: 100%;
        height: 90%;
    }

    .admin, .destinataire {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
